<!DOCTYPE html>
<html>
  <head>
    <title>Journal</title>
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <%- include('partials/header'); -%>
    <div class="main">
      <h1>Our Story</h1>
      <span><%= startingContent %></span>
    </div>

    <%- include('partials/footer'); -%>
  </body>
</html>
