<!DOCTYPE html>
<html>
  <head>
    <title>New Journal</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <%- include('partials/header'); -%>
    <div class="main">
      <h1>Compose</h1>
      <form method="POST" action="/compose">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Title</label
        >
        <input
          type="text"
          class="form-control"
          name="postTitle"
          aria-describedby="basic-addon1"
        />
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Post</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            name="postBody"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-outline-secondary">Publish</button>
      </form>
      <span><%= startingContent %></span>
      <div class="mb-3">
        <input
          type="fname"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="First Name"
        />
      </div>
      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Email Address"
        />
      </div>
      <button type="submit" class="btn btn-dark">Subscribe</button>
    </div>

    <%- include('partials/footer'); -%>
  </body>
</html>
