<!DOCTYPE html>
<html>
  <head>
    <title>Journal</title>
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <%- include('partials/header'); -%>
    <div class="main">
      <h1>Daily Gratitude</h1>
      <p><i><%= startingContent %></i></p>
    </div>

    <%- include('partials/footer'); -%>
  </body>
</html>
