html,
body {
  height: 100%;
}

.main {
  padding: 20px;
}

.header {
  background-color: lavender;
}

.logo {
  padding-left: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: lavender;
}
